<label for="language_name">Language Name</label>
  <input id="language" name="languages[name]" type="text"><br />

  <select form="language" name="taggings[tag_id]">

    <option value="">Choose a tag</option>
    <% @tags.each do |tag| %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select><br />
