<% content_for(:title, "Edit") %>

<div class="col-sm-3">
  <h2>Edit Framework</h2>
  <%= flash[:notice] %>

  <form action='/frameworks/<%= @framework.id %>' method='post'>
  <input name='_method' type='hidden' value='patch'>

  <%= render('form') %>

  <button>Update Now</button>
  </form>
</div>



