@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav{
        float: none;
        width: 800px;
}

body {
  text-align: left;
}

.jumbotron {
   margin-top: 15em;
   width: 800px;
   text-align: center
}

.sidebar{
  border-right: 1px solid #ccc;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('languages.png');
  width: 800px;
  height: 400px;

  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  h3 {
  color: #404040;
  font-size:30px;
  padding-bottom: 20px ;
  }
}
