<div class="col-sm-3">
  <%= render('nav') %>
</div>

<div class="col-sm-3">
  <h2><%= @tagging.name %></h2>
  <p><a href='/taggings/<%= @tagging.id %>/edit'>Edit</a></p>
  <p><a href='/taggings/<%= @tagging.id %>'
    data-confirm="Are you sure?"
    data-method="delete"
    rel='nofollow'>Delete</a></p>
</div>


