<% content_for(:title, "Home") %>

<div class="content">

<div class="jumbotron">
    <h3>Programming Languages + Frameworks</h3>
    <a href="/languages"><button type="button" class="btn btn-primary btn-lg">Click for Languages</button></a>
    <a href="/tags"><button type="button" class="btn btn-success btn-lg">Click for Tags</button></a>
    <a href="/frameworks"><button type="button" class="btn btn-primary btn-lg">Click for Frameworks</button></a>
  </div>

</div>
